APP_ENV=dev
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

#DATABASE_URL="postgresql://{user}:{password}@postgres-service:5432/{bd_name}?charset=utf8"

# для запуска через докер
#DATABASE_URL="postgresql://user:root@postgres-service:5432/balancer_db?charset=utf8"

# для запуска через терминал
DATABASE_URL="postgresql://postgres:123@127.0.0.1:5432/balancer_app?charset=utf8"
